p {color:#170A1C; background-color: #C19AB7;}
h1 {color:#0B7189;}
h2 {color:#228CDB;}
nav a {color:#9C95DC;}
nav a:hover {color:#170A1C;}
nav {background-color: #0B7189;}
nav {padding: 10px;}
nav {margin-bottom: 30px;}