.navigation {display:flex; justify-content: space-between;}
.right, left {display:flex;}
.navigation div {margin:10px;}
.front div {display:flex; justify-content: center; color: #2E382E;}
.front {margin-top: 180px;}
body {background-color: #D7F9F1;}
.about {padding-top: 350px;}
.about div {display: flex; justify-content: center;}
.aboutme { padding-left: 170px; padding-right: 170px; padding-top: 40px;}