p {color:#170A1C;}
h1 {color:#0B7189;}
h2 {color:#228CDB;}
nav a {color:#9C95DC;}
nav a:hover {color:#170A1C;}
nav {background-color: #0B7189;}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
.quote {background-color: white;}
.quote {float: right;}
.img1 {float: left; margin-right: 20px; margin-bottom: 20px; background-color: white; border-radius: 1em;}
.info {display:flex; background-color:rgb(230, 227, 230); border-radius: 1em;}
.info div {margin:20px;}
.info2 {display:flex; background-color: rgb(230, 227, 230); border-radius: 1em;}
.info2 div {margin:20px;}
.special {display:flex; justify-content: center;}
.description {text-align: center; color: black; background-color: white;}
img {width: 50px;}
.row1 {display:flex; justify-content: space-around;flex:.75;}
.other {display: flex; background-color: thistle; border-radius: 1em; padding: 20px; justify-content: space-between; flex: 0.25;}
.total {display: flex; margin: 20px; padding:20px;}
.row1 div {justify-content: center;}